<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1080, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="canvas">
    <div class="overlay">@highproduct</div>
    <div class="main-content">
    <div class="field"><label>product</label><p>{{product}}</p></div>
    <div class="field"><label>price</label><p>{{price}}</p></div>
    <div class="field"><label>cta</label><p>{{cta}}</p></div>
    </div>
    <div class="watermark">{{brand}}</div>
  </div>
</body>
</html>